In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("database.csv")

In [3]:
print(df)

             Date      Time  Latitude  Longitude        Type   Depth  \
0      01/02/1965  13:44:18   19.2460   145.6160  Earthquake  131.60
1      01/04/1965  11:29:49    1.8630   127.3520  Earthquake   80.00
2      01/05/1965  18:05:58  -20.5790  -173.9720  Earthquake   20.00
3      01/08/1965  18:49:43  -59.0760   -23.5570  Earthquake   15.00
4      01/09/1965  13:32:50   11.9380   126.4270  Earthquake   15.00
...           ...       ...       ...        ...         ...     ...
23407  12/28/2016  08:22:12   38.3917  -118.8941  Earthquake   12.30
23408  12/28/2016  09:13:47   38.3777  -118.8957  Earthquake    8.80
23409  12/28/2016  12:38:51   36.9179   140.4262  Earthquake   10.00
23410  12/29/2016  22:30:19   -9.0283   118.6639  Earthquake   79.00
23411  12/30/2016  20:08:28   37.3973   141.4103  Earthquake   11.94

       Depth Error  Depth Seismic Stations  Magnitude Magnitude Type  ...  \
0              NaN                     NaN        6.0             MW  ...
1              NaN                     NaN        5.8             MW  ...
2              NaN                     NaN        6.2             MW  ...
3              NaN                     NaN        5.8             MW  ...
4              NaN                     NaN        5.8             MW  ...
...            ...                     ...        ...            ...  ...
23407          1.2                    40.0        5.6             ML  ...
23408          2.0                    33.0        5.5             ML  ...
23409          1.8                     NaN        5.9            MWW  ...
23410          1.8                     NaN        6.3            MWW  ...
23411          2.2                     NaN        5.5             MB  ...

       Magnitude Seismic Stations  Azimuthal Gap  Horizontal Distance  \
0                             NaN            NaN                  NaN
1                             NaN            NaN                  NaN
2                             NaN            NaN                  NaN
3                             NaN            NaN                  NaN
4                             NaN            NaN                  NaN
...                           ...            ...                  ...
23407                        18.0          42.47                0.120
23408                        18.0          48.58                0.129
23409                         NaN          91.00                0.992
23410                         NaN          26.00                3.553
23411                       428.0          97.00                0.681

       Horizontal Error  Root Mean Square            ID  Source  \
0                   NaN               NaN  ISCGEM860706  ISCGEM
1                   NaN               NaN  ISCGEM860737  ISCGEM
2                   NaN               NaN  ISCGEM860762  ISCGEM
3                   NaN               NaN  ISCGEM860856  ISCGEM
4                   NaN               NaN  ISCGEM860890  ISCGEM
...                 ...               ...           ...     ...
23407               NaN            0.1898    NN00570710      NN
23408               NaN            0.2187    NN00570744      NN
23409               4.8            1.5200    US10007NAF      US
23410               6.0            1.4300    US10007NL0      US
23411               4.5            0.9100    US10007NTD      US

      Location Source Magnitude Source     Status
0              ISCGEM           ISCGEM  Automatic
1              ISCGEM           ISCGEM  Automatic
2              ISCGEM           ISCGEM  Automatic
3              ISCGEM           ISCGEM  Automatic
4              ISCGEM           ISCGEM  Automatic
...               ...              ...        ...
23407              NN               NN   Reviewed
23408              NN               NN   Reviewed
23409              US               US   Reviewed
23410              US               US   Reviewed
23411              US               US   Reviewed

[23412 rows x 21 columns]

In [4]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [5]:
df["Date"]

0        01/02/1965
1        01/04/1965
2        01/05/1965
3        01/08/1965
4        01/09/1965
            ...
23407    12/28/2016
23408    12/28/2016
23409    12/28/2016
23410    12/29/2016
23411    12/30/2016
Name: Date, Length: 23412, dtype: object

In [7]:
df["Magnitude"].value_counts()

5.50    4685
5.60    3967
5.70    3079
5.80    2346
5.90    1947
        ...
5.51       1
5.55       1
6.31       1
6.47       1
5.73       1
Name: Magnitude, Length: 64, dtype: int64

In [11]:
#find single magnitude by row index
df.loc[2, "Magnitude"]

6.2

In [12]:
df.describe()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
count,23412.000000,23412.000000,23412.000000,4461.000000,7097.000000,23412.000000,327.000000,2564.000000,7299.000000,1604.000000,1156.000000,17352.000000
mean,1.679033,39.639961,70.767911,4.993115,275.364098,5.882531,0.071820,48.944618,44.163532,3.992660,7.662759,1.022784
std,30.113183,125.511959,122.651898,4.875184,162.141631,0.423066,0.051466,62.943106,32.141486,5.377262,10.430396,0.188545
min,-77.080000,-179.997000,-1.100000,0.000000,0.000000,5.500000,0.000000,0.000000,0.000000,0.004505,0.085000,0.000000
25%,-18.653000,-76.349750,14.522500,1.800000,146.000000,5.600000,0.046000,10.000000,24.100000,0.968750,5.300000,0.900000
50%,-3.568500,103.982000,33.000000,3.500000,255.000000,5.700000,0.059000,28.000000,36.000000,2.319500,6.700000,1.000000
75%,26.190750,145.026250,54.000000,6.300000,384.000000,6.000000,0.075500,66.000000,54.000000,4.724500,8.100000,1.130000
max,86.005000,179.998000,700.000000,91.295000,934.000000,9.100000,0.410000,821.000000,360.000000,37.874000,99.000000,3.440000

In [13]:
df.corr()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
Latitude,1.000000,0.203546,-0.081020,0.007080,0.433815,0.034987,0.113208,0.315075,0.050794,-0.396768,0.015625,-0.214762
Longitude,0.203546,1.000000,-0.085861,0.020552,0.015924,0.038579,-0.214609,0.148510,-0.233097,-0.131313,-0.093827,-0.028061
Depth,-0.081020,-0.085861,1.000000,-0.074609,0.174663,0.023457,-0.076918,-0.015254,-0.171162,-0.073832,-0.016467,-0.134002
Depth Error,0.007080,0.020552,-0.074609,1.000000,-0.320579,-0.135880,0.618254,-0.093292,0.357704,-0.077423,0.644593,0.094398
Depth Seismic Stations,0.433815,0.015924,0.174663,-0.320579,1.000000,0.440582,-0.385993,0.813374,-0.420556,0.056619,-0.214959,-0.158620
Magnitude,0.034987,0.038579,0.023457,-0.135880,0.440582,1.000000,0.135573,-0.003972,-0.233579,-0.092609,-0.078406,0.075865
Magnitude Error,0.113208,-0.214609,-0.076918,0.618254,-0.385993,0.135573,1.000000,-0.334062,0.567411,-0.076744,0.617721,0.032616
Magnitude Seismic Stations,0.315075,0.148510,-0.015254,-0.093292,0.813374,-0.003972,-0.334062,1.000000,-0.334864,-0.117606,-0.093143,-0.167473
Azimuthal Gap,0.050794,-0.233097,-0.171162,0.357704,-0.420556,-0.233579,0.567411,-0.334864,1.000000,-0.033482,0.396450,-0.056217
Horizontal Distance,-0.396768,-0.131313,-0.073832,-0.077423,0.056619,-0.092609,-0.076744,-0.117606,-0.033482,1.000000,0.126877,0.035778
Horizontal Error,0.015625,-0.093827,-0.016467,0.644593,-0.214959,-0.078406,0.617721,-0.093143,0.396450,0.126877,1.000000,0.157842
Root Mean Square,-0.214762,-0.028061,-0.134002,0.094398,-0.158620,0.075865,0.032616,-0.167473,-0.056217,0.035778,0.157842,1.000000

In [15]:
df1 = df[["Date", "Time", "Latitude", "Longitude", "Depth", "Magnitude"]]

In [17]:
df1

             Date      Time  Latitude  Longitude   Depth  Magnitude
0      01/02/1965  13:44:18   19.2460   145.6160  131.60        6.0
1      01/04/1965  11:29:49    1.8630   127.3520   80.00        5.8
2      01/05/1965  18:05:58  -20.5790  -173.9720   20.00        6.2
3      01/08/1965  18:49:43  -59.0760   -23.5570   15.00        5.8
4      01/09/1965  13:32:50   11.9380   126.4270   15.00        5.8
...           ...       ...       ...        ...     ...        ...
23407  12/28/2016  08:22:12   38.3917  -118.8941   12.30        5.6
23408  12/28/2016  09:13:47   38.3777  -118.8957    8.80        5.5
23409  12/28/2016  12:38:51   36.9179   140.4262   10.00        5.9
23410  12/29/2016  22:30:19   -9.0283   118.6639   79.00        6.3
23411  12/30/2016  20:08:28   37.3973   141.4103   11.94        5.5

[23412 rows x 6 columns]

In [21]:
df1.groupby("Depth")

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000289E7A94EB0>

In [22]:
df1.groupby("Depth").mean()

           Latitude   Longitude  Magnitude
Depth
-1.100    34.131000 -116.408000   5.770000
-0.097    34.200000 -116.437000   7.300000
-0.076    37.621333 -118.342500   5.600000
 0.000    40.194747   33.880641   5.865294
 0.020    37.909667  -77.936333   5.800000
...             ...         ...        ...
 687.600 -20.073000 -179.135000   6.000000
 688.000 -19.406000 -179.315000   6.100000
 690.000 -19.876000 -179.098000   5.700000
 691.600 -24.871000  178.566000   5.600000
 700.000 -20.158000 -179.163000   5.500000

[3485 rows x 3 columns]

In [23]:
df1.groupby("Depth").max()

                Date      Time   Latitude   Longitude  Magnitude
Depth
-1.100    06/28/1992  12:00:45  34.131000 -116.408000       5.77
-0.097    06/28/1992  11:57:34  34.200000 -116.437000       7.30
-0.076    07/21/1986  22:07:16  37.621333 -118.342500       5.60
 0.000    12/28/1984  23:46:58  73.404000  125.321000       6.90
 0.020    08/23/2011  17:51:04  37.909667  -77.936333       5.80
...              ...       ...        ...         ...        ...
 687.600  09/02/2000  17:02:20 -20.073000 -179.135000       6.00
 688.000  05/06/2007  22:01:09 -19.406000 -179.315000       6.10
 690.000  06/17/1977  02:29:10 -19.876000 -179.098000       5.70
 691.600  08/19/2002  12:52:04 -24.871000  178.566000       5.60
 700.000  10/22/1985  19:14:02 -20.158000 -179.163000       5.50

[3485 rows x 5 columns]