In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import copy

df = pd.read_csv("Emdat1_public_2023_02_14_query_uid-QKBw5b.csv")

In [2]:
df

,Dis No,Year,Seq,Glide,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,...,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)",CPI,Adm Level,Admin1 Code,Admin2 Code,Geo Locations
0,2010-0692-ITA,2010,692,NaN,Natural,Meteorological,Storm,Convective storm,NaN,NaN,...,NaN,NaN,NaN,872000.0,1170321.0,74.509444,1,1621;1623;1624;1630;1631;1634;1635,NaN,"Friuli-venezia Giulia, Liguria, Lombardia, Sic..."
1,2010-0601-BEL,2010,601,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,238146.0,319619.0,74.509444,1,600;601;602,NaN,Region de Bruxelles-Capitale / Brussels Hoofds...
2,2010-0619-BIH,2010,619,FL-2010-000248,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,74.509444,2,NaN,6241;6242;6243;6244;6248;6252;6253;6256;6258;6...,"Bijeljina, Bileca, Bosanska Krupa, Bosanski No..."
3,2010-0193-CZE,2010,193,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,190000.0,255001.0,74.509444,2,NaN,14846;14847;14849;14850;14852;14853,"Bruntal, Frydek-Mistek, Karvina, Novy Jicin, O..."
4,2010-0233-FRA,2010,233,NaN,Natural,Hydrological,Flood,Flash flood,NaN,NaN,...,NaN,1070000.0,1436060.0,1500000.0,2013168.0,74.509444,2,NaN,16324,Var (Adm2).
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,2022-0401-ITA,2022,401,NaN,Natural,Climatological,Glacial lake outburst,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN
590,2022-0465-PRT,2022,465,NaN,Natural,Meteorological,Extreme temperature,Heat wave,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN
591,2022-0275-RUS,2022,275,NaN,Natural,Climatological,Wildfire,Forest fire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100.000000,1,2506;2515;2524;2526;2541;2542,NaN,"Irkutskaya Oblast, Kemerovskaya Oblast, Krasno..."
592,2022-0473-RUS,2022,473,NaN,Natural,Hydrological,Flood,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN
593,2023-0022-SRB,2023,22,NaN,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df1 = df[["Year", "Country", "Location", "River Basin","Disaster Group", "Disaster Subgroup", "Disaster Type", "Disaster Subtype", "Event Name", "Origin", "Associated Dis", "Start Month", "No Affected","No Homeless", "Total Deaths", "Total Affected", "Reconstruction Costs, Adjusted ('000 US$)", "Insured Damages ('000 US$)", "Insured Damages, Adjusted ('000 US$)", "Total Damages ('000 US$)", "Total Damages, Adjusted ('000 US$)"]]
df1

,Year,Country,Location,River Basin,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Event Name,Origin,...,Start Month,No Affected,No Homeless,Total Deaths,Total Affected,"Reconstruction Costs, Adjusted ('000 US$)",Insured Damages ('000 US$),"Insured Damages, Adjusted ('000 US$)",Total Damages ('000 US$),"Total Damages, Adjusted ('000 US$)"
0,2010,Italy,"Veneto, Toscana, Liguria, Valle D'aosta, Lomba...",NaN,Natural,Meteorological,Storm,Convective storm,NaN,NaN,...,10,NaN,NaN,3.0,5.0,NaN,NaN,NaN,872000.0,1170321.0
1,2010,Belgium,"Region de Bruxelles-Capitale, Vlaams Gewest, R...",NaN,Natural,Hydrological,Flood,Riverine flood,NaN,Heavy rains,...,11,690.0,NaN,3.0,690.0,NaN,NaN,NaN,238146.0,319619.0
2,2010,Bosnia and Herzegovina,"Tomislavgrad, Drvar municipalities (Zapadnobos...",Drina,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,...,12,20000.0,NaN,3.0,20000.0,NaN,NaN,NaN,NaN,NaN
3,2010,Czech Republic (the),"Opava, Bruntal, Novy Jicin, Frydek-Mistek, Ost...",Becva river,Natural,Hydrological,Flood,Riverine flood,NaN,Heavy rains,...,5,1200.0,NaN,1.0,1200.0,NaN,NaN,NaN,190000.0,255001.0
4,2010,France,"Draguignan, Les Arcs, Figanières, Roquebrune s...",NaN,Natural,Hydrological,Flood,Flash flood,NaN,Torrential rain,...,6,NaN,NaN,25.0,NaN,NaN,1070000.0,1436060.0,1500000.0,2013168.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,2022,Italy,"Marmolada mountain (Dolomite Alps range), betw...",NaN,Natural,Climatological,Glacial lake outburst,NaN,NaN,NaN,...,7,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN
590,2022,Portugal,NaN,NaN,Natural,Meteorological,Extreme temperature,Heat wave,NaN,NaN,...,6,NaN,NaN,1063.0,NaN,NaN,NaN,NaN,NaN,NaN
591,2022,Russian Federation (the),"Krasnoïarsk, Kemerovo, Omsk, Kurgan, Irkutsk, ...",NaN,Natural,Climatological,Wildfire,Forest fire,NaN,Violent wind,...,5,NaN,2190.0,16.0,2202.0,NaN,NaN,NaN,NaN,NaN
592,2022,Russian Federation (the),"Lazarevsky, Khostinsky, Sochi regions",NaN,Natural,Hydrological,Flood,NaN,NaN,Heavy rains,...,7,750.0,NaN,1.0,750.0,NaN,NaN,NaN,NaN,NaN
593,2023,Serbia,Sjenica and Brodarevo Novi Pazar Municipality;...,Trnavica River,Natural,Hydrological,Flood,Riverine flood,NaN,Heavy rainfall and river overflow,...,1,210.0,NaN,2.0,210.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df2 = df1[["Country", "Total Affected"]]
df2

                      Country  Total Affected
0                       Italy             5.0
1                     Belgium           690.0
2      Bosnia and Herzegovina         20000.0
3        Czech Republic (the)          1200.0
4                      France             NaN
..                        ...             ...
589                     Italy             NaN
590                  Portugal             NaN
591  Russian Federation (the)          2202.0
592  Russian Federation (the)           750.0
593                    Serbia           210.0

[594 rows x 2 columns]

In [5]:
df_affected = df2.groupby("Country").sum()
print(df_affected)

                                                    Total Affected
Country
Albania                                                   520511.0
Austria                                                      543.0
Belarus                                                   143494.0
Belgium                                                   102711.0
Bosnia and Herzegovina                                   1315668.0
Bulgaria                                                   58859.0
Canary Is                                                   6888.0
Croatia                                                   245391.0
Czech Republic (the)                                     1305223.0
Denmark                                                        3.0
Estonia                                                        0.0
France                                                    625531.0
Germany                                                     8628.0
Greece                                                    159427.0
Hungary                                                   226445.0
Iceland                                                        0.0
Ireland                                                      900.0
Isle of Man                                                    0.0
Italy                                                      92955.0
Latvia                                                         0.0
Lithuania                                                      0.0
Luxembourg                                                  1519.0
Macedonia (the former Yugoslav Republic of)               239743.0
Moldova (the Republic of)                                  30634.0
Montenegro                                                 11050.0
Netherlands (the)                                              4.0
Norway                                                      1660.0
Poland                                                    112207.0
Portugal                                                   10079.0
Romania                                                    31961.0
Russian Federation (the)                                  615811.0
Serbia                                                    208632.0
Slovakia                                                    1100.0
Slovenia                                                   66050.0
Spain                                                      30344.0
Sweden                                                     13500.0
Switzerland                                                  321.0
Ukraine                                                   189813.0
United Kingdom of Great Britain and Northern Ir...         91379.0

In [6]:
df_total = df_affected.sort_values(by="Total Affected", ascending=False)
df_total

                                                    Total Affected
Country
Bosnia and Herzegovina                                   1315668.0
Czech Republic (the)                                     1305223.0
France                                                    625531.0
Russian Federation (the)                                  615811.0
Albania                                                   520511.0
Croatia                                                   245391.0
Macedonia (the former Yugoslav Republic of)               239743.0
Hungary                                                   226445.0
Serbia                                                    208632.0
Ukraine                                                   189813.0
Greece                                                    159427.0
Belarus                                                   143494.0
Poland                                                    112207.0
Belgium                                                   102711.0
Italy                                                      92955.0
United Kingdom of Great Britain and Northern Ir...         91379.0
Slovenia                                                   66050.0
Bulgaria                                                   58859.0
Romania                                                    31961.0
Moldova (the Republic of)                                  30634.0
Spain                                                      30344.0
Sweden                                                     13500.0
Montenegro                                                 11050.0
Portugal                                                   10079.0
Germany                                                     8628.0
Canary Is                                                   6888.0
Norway                                                      1660.0
Luxembourg                                                  1519.0
Slovakia                                                    1100.0
Ireland                                                      900.0
Austria                                                      543.0
Switzerland                                                  321.0
Netherlands (the)                                              4.0
Denmark                                                        3.0
Estonia                                                        0.0
Isle of Man                                                    0.0
Lithuania                                                      0.0
Iceland                                                        0.0
Latvia                                                         0.0

In [7]:
df_10 = df_total.head(10)
df_10

                                             Total Affected
Country
Bosnia and Herzegovina                            1315668.0
Czech Republic (the)                              1305223.0
France                                             625531.0
Russian Federation (the)                           615811.0
Albania                                            520511.0
Croatia                                            245391.0
Macedonia (the former Yugoslav Republic of)        239743.0
Hungary                                            226445.0
Serbia                                             208632.0
Ukraine                                            189813.0

In [8]:
# initialize list of lists
country_pop = [['Bosnia and Herzegovina', 3475000], ['Czech Republic (the)', 10516707], ['France', 68042591], ['Russian Federation (the)', 147182123], ['Albania', 2793592], ['Croatia', 3871833], ['Macedonia (the former Yugoslav Republic of)', 1836713], ['Hungary', 9678000], ['Serbia', 6690887], ['Ukraine', 41167336]]
  
# Create the pandas DataFrame
df_cpop = pd.DataFrame(country_pop, columns=['Country', 'Population'])
  
# print dataframe.
df_cpop

                                       Country  Population
0                       Bosnia and Herzegovina     3475000
1                         Czech Republic (the)    10516707
2                                       France    68042591
3                     Russian Federation (the)   147182123
4                                      Albania     2793592
5                                      Croatia     3871833
6  Macedonia (the former Yugoslav Republic of)     1836713
7                                      Hungary     9678000
8                                       Serbia     6690887
9                                      Ukraine    41167336

In [11]:
df_join = df_10.join(df_cpop.set_index('Country'), on='Country')
print(df_join)

                                             Total Affected  Population
Country
Bosnia and Herzegovina                            1315668.0     3475000
Czech Republic (the)                              1305223.0    10516707
France                                             625531.0    68042591
Russian Federation (the)                           615811.0   147182123
Albania                                            520511.0     2793592
Croatia                                            245391.0     3871833
Macedonia (the former Yugoslav Republic of)        239743.0     1836713
Hungary                                            226445.0     9678000
Serbia                                             208632.0     6690887
Ukraine                                            189813.0    41167336